
NEXT_PUBLIC_SUPABASE_URL=your_supabase_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key


MONGODB_URI=your_mongodb_connection_string


PORT=4000
PORT=4000
# For Vercel Monorepo (Frontend + Backend), use the relative path to the serverless function:
NEXT_PUBLIC_BACKEND_URL=/api/express


IMAGEKIT_PRIVATE_KEY=your_imagekit_private_key
NEXT_PUBLIC_IMAGEKIT_URL_ENDPOINT=your_imagekit_url_endpoint
NEXT_PUBLIC_IMAGEKIT_PUBLIC_KEY=your_imagekit_public_key


GMAIL_USER=your_email@gmail.com
GMAIL_PASS=your_app_specific_password

UPSTASH_REDIS_REST_URL=your_upstash_redis_url
UPSTASH_REDIS_REST_TOKEN=your_upstash_redis_token
